h1,h2,h3 {
    color: #ec407a;
    font-weight: lighter;
}

p {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

blockquote {
    color: #ffffff;
}

header  {
    background: url(images/ocean2.jpg);
                background-size: cover;
                background-position: center;
                min-height: 1000px;
            }

            @media screen and (max-width: 670px) {
            header{
                min-height: 500px;
                }
            }